body {
	font-family: helvetica;
/*	get thee a font from google fonts */
	background-color: #313131;
	background-image: url(images/subtlepatterns/grey_wash_wall.png);
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: #f38b33;
}

#wrapper {
	background-color: #808080;
	background-image: url(images/subtlepatterns/grey_wash_wall.png);
/*	background-image: url(images/subtlepatterns/concrete_seamless.png);
	border: 2px solid black;*/
	margin: 0% 2% 0% 4%;
	border-radius: 10px;
	overflow: hidden;
	display: inline-block;
}

#logo {
	border: 5px solid #000000;
	width: 79%; 
	height: 225px;
	display: inline-block;
	margin: 0.5% 0.25% 0.25% 0.5%;
	background-image: url(images/newLogo.jpeg);
	border-radius: 10px 10px 0px 10px;
	background-size: cover;

}

#links {
	border: 5px solid #000000;
	display: inline-block;
	height: 225px;
	width: 14.5%;
	margin: .5% .5% .25% .25%;
	/* 1% = 12px      .5%/ = 6px      .25% = 3px */
	float: right;
	padding-left: 1.65%;
	padding-right: 1.65%;
	overflow: none;
	background-color: black;
	background-color: #313131;
	background-image: url(images/subtlepatterns/binding_dark_@2X.png);
	border-radius: 10px 10px 10px 0px;
	font-size: 0.87em;
}

#topLink {
	padding-top: 10%;
}

#links .link {
	display: block;
	text-align: center;
	text-decoration: none;
}

#links a:link {
	color: white;
	font-style: normal;
}

#links a:visited {
	color: white;
	font-style: normal;
}

#links a:hover {
/*	background-color: #ff0000;*/
	color: #f38b33;
	font-style: normal;
}

a {
	padding-bottom: 0px;
}

#content {
	display: inline-block;
	border: 5px solid #000000;
	width: 74%;
	height: 440px;
	margin: .25% .25% .5% .5%;
	padding: 2% 3% 2% 2%;
	overflow: auto;
	background-color: black;
	background-color: #313131;
	background-image: url(images/subtlepatterns/binding_dark_@2X.png);
	color: #f38b33;
	border-radius: 10px 0px 10px 10px;
}

.contentBlock {
	background-color: #d8d8d8;
	background-image: url(images/subtlepatterns/concrete_seamless.png);
	color: black;
	border: 3px inset white;
	border-radius: 10px 10px 10px 10px;
	width: 95%;
	margin: 2% 2% 2% 3%;
	padding: 3px;
	overflow: auto;
}

.contentBlock p {
	margin-right: 4%;
	margin-left: 1%;
}

.contentBlock a {
/*	font-weight: bold;*/
	color: #aa6123;
	text-decoration: none;			
}

.contentBlock a:hover {
	color: #f38b33;
}

.contentBlock h1 {
	font-weight: bold;
}

.contentBlock h5 {
	font-weight: bold;
}

/*#pictureContainer {
	width: 38%;
	height: 100%;
	float: left;
	background-color: #000000;
	background-color: none;
	margin-right: 2%;
	border-radius: 10px 10px 10px 10px;
	border: 5px solid #808080;
	border: 3px solid #313131;
	border: 3px solid black;
	padding: 1%;
}*/

#pictureContainer {
	width: 24%;
	height: 430px;
	float: left;
	margin-right: 2%;
	border-radius: 10px 10px 10px 10px;
	border: 3px solid black;
	padding: 1%;
}

#pic1 {
	width: 98%;
	height: 48%;
	background-color: grey;
	margin-bottom: 1%;
	background-image: url("images/IMG_0028.JPG");
	background-size: cover;
}

#pic2{
	width: 98%;
	height: 48%;
	background-color: grey;
	margin-top: 1%;
	background-image: url("https://scontent-atl1-1.xx.fbcdn.net/hphotos-prn2/v/t1.0-9/560558_10100837190355843_1369115026_n.jpg?oh=4fb0f686e0a6cd08ca8c2882a4ce05e5&oe=560D3485");
	background-size: cover;
}

#textContainer {
	width: 55%; /*previous value*/
	height: 100%; /*previous value*/
	width: 70%;
	height: 450px;
	float: right;
	border: 3px solid black;
	border-radius: 10px 10px 10px 10px;
}

#text1{
	margin: 1% 5% 2% 5%;
	height: 46%;
}

#text2{
	margin: 1% 5% 2% 5%;
	height: 47%;
}

#feed {
	border: 5px solid #000000;
	display: inline-block;
	height: 440px;
	width: 14.46%;
	margin: .25% .5% .5% .25%;
	float: right;
	padding: 1.83% 1.83% 2.1% 1.5%;
	overflow: auto;
	background-color: black;
	background-color: #313131;
	background-image: url(images/subtlepatterns/binding_dark_@2X.png);
	color: #f38b33;
	border-radius: 0px 10px 10px 10px;
}

#feed h3, h4 {
	text-align: right;
}

footer {
	color: white;
	font-size: 15px;
	padding-top: 1%;
	padding-left: 5%;
}

/*contact form stylings*/

.textInput {
	width: 30%;
}

/* Stylings for the game servers sales page */

.planHeader {

}

.plans {
	display: inline-block;
	width: 22%;
	height: 100%;
	background-color: #808080;
	border-radius: 10px 10px 10px 10px;
	margin-left: 1.5%;
	border: 2px inset #313131;

}

.plans h4 {
	padding-left: 25%;
	padding-right: 7%;
	color: white;
}

.plans p {
	padding-left: 0% 15% 5%;
	color: white;
	margin-left: 5%;
}

.planBlock {
	background-color: black;
	width: 80%;
	height: 175px;
	margin: 0 auto;
	margin-top: 5%;
	border: 2px inset #313131;
	border-radius: 10px 10px 10px 10px;
	background-repeat: no-repeat;
	background-position: center;
}

.payButton{
	text-align: center;
}

#planBlock1 {
	background-image: url(images/blocks/Dirt.png)
}

#planBlock2 {
	background-image: url(images/blocks/Stone.png);
}

#planBlock3 {
	background-image: url(images/blocks/Iron.png);
}

#planBlock4{
	background-image: url(images/blocks/Diamond.png);
}
